@font-face {
  font-family: "garet";
  src: url("./fonts/garet/Garet-Book.otf");
  src: url("./fonts/garet/Garet-Book.otf") format("opentype"),
    url("./fonts/garet/Garet-Book.ttf") format("truetype"),
    url("./fonts/garet/Garet-Book.woff") format("woff"),
    url("./fonts/garet/Garet-Book.woff2") format("woff2");
}

@font-face {
  font-family: "cocogoose-light";
  src: url("./fonts/cocogoose/Cocogoose\ Pro\ Light-trial.ttf");
  src: url("./fonts/cocogoose/Cocogoose\ Pro\ Light-trial.ttf")
    format("truetype");
}

/* General styles */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: "garet", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  height: 100vh;
  width: 100vw;

  --accent-clr: #596d48;
  --main-clr: #f9fafb;
  --header-bg-clr: #30394665;
  --disclaimer-text-clr: #000;
  --form-text-clr: #303946;
  --form-bg-clr: #fff;
  --form-shadow-clr: #686868;

  --submit-hover-clr: #748e5e;
  --invalid-clr: #e85252;

  --side-padding: min(35px, 3vw);
  --bottom-margin: clamp(10px, 5vh, 200px);

  font-size: 14px;
  color: var(--form-text-clr);
}

body {
  height: 100%;
  display: flex;
}

.left-side {
  position: relative;
  min-width: 40%;
  background-image: url("./images/house.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right-side {
  flex: 1;
  background-color: var(--main-clr);
}

.right-side > * {
  margin-bottom: var(--bottom-margin);
}

header {
  position: absolute;
  display: block;
  top: 100px;
  width: 100%;
  height: auto;
  padding: var(--side-padding) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: var(--header-bg-clr);
  text-align: center;

  color: var(--main-clr);
}

.logo {
  height: min(20vw, 100px);
  width: auto;
}

h1 {
  font-family: "cocogoose-light";
  font-size: min(10vw, 4rem);
}

.disclaimer {
  padding: min(20%, 150px) var(--side-padding) 0;
  color: var(--disclaimer-text-clr);
  font-size: clamp(0.7rem, 2vw, 1.5rem);
}

.disclaimer p:first-child {
  max-width: 800px;
  margin-bottom: calc(var(--bottom-margin) / 2);
}

.form-section {
  padding: var(--side-padding);
  background-color: var(--form-bg-clr);
  box-shadow: 0 1px 6px var(--form-shadow-clr);
  margin-bottom: calc(var(--bottom-margin) / 4);
}

.form-section h2 {
  margin-bottom: 20px;
  font-size: min(1.5rem, 5vw);
}

#account-form {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(var(--bottom-margin), 10vw, 100px);
}

.column {
  display: flex;
  flex-direction: column;
  min-width: 70px;
  width: 20vw;
  max-width: 200px;
}

.column .row:not(:last-child) {
  margin-bottom: calc(var(--bottom-margin) / 2);
}

.row * {
  display: block;
  width: 120%;
}

label {
  font-size: clamp(0.4rem, 2vw, 100%);
  margin-bottom: 5px;
}

input {
  color: inherit;
  font-family: inherit;
  outline: 2px solid var(--form-text-clr);
  border: none;
  padding: 0 2px;
  height: clamp(1rem, 4vw, 1.5rem);
  transition: outline-color ease 0.3s;
}

.footer {
  padding: var(--side-padding);
}

.footer {
  font-weight: bold;
}

.footer p {
  font-size: clamp(0.7rem, 2vw, 1.2rem);
}

button[type="submit"] {
  width: clamp(100px, 20vw, 200px);
  height: clamp(30px, 8vw, 40px);
  margin-bottom: calc(var(--bottom-margin) / 2);
  background-color: var(--accent-clr);
  color: var(--main-clr);
  font-size: clamp(0.7rem, 2vw, 1rem);

  font-weight: inherit;
  border-radius: 10px;
  border: none;
}

a {
  color: var(--accent-clr);
}

/* Interactivity */

button[type="submit"]:hover {
  background-color: var(--submit-hover-clr);
}

/* Form accessability */

input:invalid {
  outline-color: var(--invalid-clr);
}

input:valid {
  outline-color: var(--submit-hover-clr);
}
