@font-face {
  font-family: "garet";
  src: url("./fonts/garet/Garet-Book.otf");
  src: url("./fonts/garet/Garet-Book.otf") format("opentype"),
    url("./fonts/garet/Garet-Book.ttf") format("truetype"),
    url("./fonts/garet/Garet-Book.woff") format("woff"),
    url("./fonts/garet/Garet-Book.woff2") format("woff2");
}

@font-face {
  font-family: "cocogoose-light";
  src: url("./fonts/cocogoose/Cocogoose\ Pro\ Light-trial.ttf");
  src: url("./fonts/cocogoose/Cocogoose\ Pro\ Light-trial.ttf")
    format("truetype");
}
